# Copied and modified from https://github.com/kata-containers/tests/blob/main/integration/kubernetes/kubeadm/config.yaml
#
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  criSocket: unix://{{ kubeadm_cri_runtime_socket }}
  imagePullPolicy: IfNotPresent
  kubeletExtraArgs:
    allowed-unsafe-sysctls: kernel.msg*,kernel.shm.*,net.*
    v: "4"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ k8s_version }}
networking:
  dnsDomain: cluster.local
  podSubnet: 10.244.0.0/16
  serviceSubnet: 10.96.0.0/12
apiServer:
  extraArgs:
    feature-gates: PodOverhead=true
  timeoutForControlPlane: 4m0s
imageRepository: k8s.gcr.io
scheduler:
  extraArgs:
    feature-gates: PodOverhead=true
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: {{ kubelet_cgroup_driver }}
featureGates:
  PodOverhead: true
systemReserved:
  cpu: 500m
  memory: 256Mi
kubeReserved:
  cpu: 500m
  memory: 256Mi
