apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-cc
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx
    spec:
      runtimeClassName: kata-cc
      containers:
      - name: nginx
        image: quay.io/bitnami/nginx:1.14
        ports:
        - containerPort: 80
        imagePullPolicy: Always  
