apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -s390x

resources:
- ../default

images:
- name: quay.io/confidential-containers/runtime-payload
  newName: quay.io/confidential-containers/runtime-payload-ci
  newTag: kata-containers-latest

patches:
- patch: |-
    - op: replace
      path: /spec/config/runtimeClasses
      value:
      - name: "kata-qemu"
        snapshotter: "overlayfs"
      - name: "kata-qemu-se"
        snapshotter: "overlayfs"
    - op: add
      path: /spec/config/defaultRuntimeClassName
      value: "kata-qemu"
    - op: add
      path: /spec/config/debug
      value: false
  target:
    kind: CcRuntime
