apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -peer-pods

resources:
- ../base

images:
- name: quay.io/confidential-containers/container-engine-for-cc-payload
  newTag: c80c3e7392c1562841e75072d227e07f98cab2bd 
- name: quay.io/confidential-containers/runtime-payload
  newName: quay.io/confidential-containers/runtime-payload-ci
  newTag: kata-containers-9e036108b4d5d9344eedcd2a5dac78d316b79cac

patches:
- patch: |-
    - op: replace
      path: /spec/config/runtimeClassNames
      value: ["kata-remote"]
  target:
    kind: CcRuntime
