name: ccruntime e2e tests
on:
  workflow_call:
    inputs:
      target-branch:
        required: false
        type: string
        default: ""
      commit-hash:
        required: true
        type: string

permissions:
  contents: read

jobs:
  e2e:
    name: operator tests
    strategy:
      fail-fast: false
      matrix:
        runtimeclass:
          - "kata-qemu"
        instance:
          - "ubuntu-22.04"
          - "ubuntu-24.04"
          - "s390x-large"
          - "ubuntu-22.04-arm"
        include:
          - runtimeclass: "kata-qemu-tdx"
            instance: "ubuntu-24.04"
          - runtimeclass: "kata-qemu-snp"
            instance: "sev-snp"
    runs-on: ${{ matrix.instance }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          ref: ${{ inputs.commit-hash }}
          fetch-depth: 0

      - name: Rebase atop of the latest target branch
        run: |
          ./tests/git-helper.sh "rebase-atop-of-the-latest-target-branch"
        env:
          TARGET_BRANCH: ${{ inputs.target-branch }}

      - name: Remove unnecessary directories to free up space
        run: |
          if [[ "$RUNNING_INSTANCE" == "ubuntu-"* ]]; then
            sudo rm -rf /usr/local/.ghcup
            sudo rm -rf /opt/hostedtoolcache/CodeQL
            sudo rm -rf /usr/local/lib/android
            sudo rm -rf /usr/share/dotnet
            sudo rm -rf /opt/ghc
            sudo rm -rf /usr/local/share/boost
            sudo rm -rf "$AGENT_TOOLSDIRECTORY"
            sudo rm -rf /usr/lib/jvm
            sudo rm -rf /usr/share/swift
            sudo rm -rf /usr/local/share/powershell
            sudo rm -rf /usr/local/julia*
            sudo rm -rf /opt/az
            sudo rm -rf /usr/local/share/chromium
            sudo rm -rf /opt/microsoft
            sudo rm -rf /opt/google
            sudo rm -rf /usr/lib/firefox
          fi
        env:
          RUNNING_INSTANCE: ${{ matrix.instance }}

      - name: Install deps
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ansible python-is-python3

      - name: Run e2e tests
        timeout-minutes: 45
        run: |
          cd tests/e2e
          export PATH="$PATH:/usr/local/bin"
          args="-u"
          export pre_install_payload_archs="linux/amd64"
          if [ $RUNNING_INSTANCE = "s390x-large" ]; then
            args=""
            export pre_install_payload_archs="linux/s390x"
          elif [[ "$RUNNING_INSTANCE" == "ubuntu-"* ]] || [[ "$RUNNING_INSTANCE" == "arm64-nvidia-gpu" ]]; then
            # Remove the pre-installed docker/containerd
            sudo apt-get remove docker* containerd* -y
            # Use /mnt to store images
            sudo rm -Rf /var/lib/docker || true
            sudo mkdir /mnt/docker || true
            sudo ln -s /mnt/docker /var/lib/docker || true
            # Use /mnt/go for GOPATH
            sudo rm -Rf $HOME/go || true
            sudo mkdir /mnt/go || true
            sudo ln -s /mnt/go $HOME/go || true
            # Remove bunch of preinstalled things we don't use
            sudo rm /usr/local/share/ -Rf || true
            if [ "$RUNNING_INSTANCE" == "ubuntu-22.04-arm" ] || [ "$RUNNING_INSTANCE" == "arm64-nvidia-gpu" ]; then
              export pre_install_payload_archs="linux/arm64"
            fi
          fi
          ./run-local.sh -t -r "${{ matrix.runtimeclass }}" "${args}"
        env:
          RUNNING_INSTANCE: ${{ matrix.instance }}
          GITHUB_TOKEN: ${{ github.token }}
