name: gofmt
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  gofmt:
    name: gofmt
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version-file: go.mod
          check-latest: true
      - name: gofmt
        run : |
          gofmt -s -w .
          git diff --exit-code
